*{
  box-sizing: border-box;
}

html{
  font-family: 'Courier New', Courier, monospace;
  color: white;
  cursor:auto;
}

body{
  background-color: blue;
  display: flex;
  justify-content: center;
}

section{
  height: 50vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border-color: 1px solid whitesmoke; */
}

.buttons{
  padding-top: 20px;
  display: inline;
}

#text-input{
  background-color:lightgoldenrodyellow
}